<h2>Products</h2>

<div class="row g-3 align-items-center">
  <div class="col-auto">
    <label class="col-form-label">Filter: </label>
  </div>
  <div class="col-auto">
    <input
      type="text"
      class="form-control"
      placeholder="Search"
      [(ngModel)]="listFilter"
    />
  </div>

  <table class="table table-striped table-bordered text-center mx-auto">
    <thead class="table-dark">
      <tr>
        <th class="col-1">#</th>
        <th class="col-2">
          <button
            type="button"
            class="btn btn-light btn-sm"
            (click)="ChangeImage()">
            <i class="{{ mostrarImagem ? 'fa fa-eye' : 'fa fa-eye-slash' }}"></i>
            {{ mostrarImagem ? "Show image" : "Hide image" }}
          </button>
        </th>
        <th class="col-2">Name</th>
        <th class="col-3">Description</th>
        <th class="col-1">Dimension</th>
        <th class="col-1">Material</th>
        <th class="col-2">Ação</th>
      </tr>
    </thead>
    <tbody *ngIf="products && products.length" class="table-group-divider">
      <tr *ngFor="let product of filteredProducts">
        <td>{{ product.id }}</td>
        <td class="text-center">
          <img
            class="rounded mx-auto"
            [collapse]="isCollapsed"
            [isAnimated]="true"
            [collapse]="mostrarImagem"
            src="/assets/teste.png"
            [style.width.px]="100"
          />
        </td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.dimension }}</td>
        <td>{{ product.material }}</td>
        <td>
            <button type="button" class="btn btn-warning btn-sm mx-4"><i class="fa-solid fa-pen"></i></button>
            <button type="button" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!products.length">
      <tr>
        <td colspan="8" class="text-center">
          <h4>Nenhum item encontrado!</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
